/* keyboard
------------- */
.keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

.key-row {
  display: flex;
  justify-content: center;
}

.key-letter {
  padding: 0.5rem;
  margin: 0 0.3rem;
}
