/* hints
------------------ */
.hints {
  list-style: none;
}

.hint {
  padding: 0.3rem 0;
  display: flex;
  gap: 2rem;
}

.hint button {
  padding: 0.1rem 0.6rem;
  font-size: 0.6rem;
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.hint button:hover {
  animation: shake 0.4s ease-out;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.hint button.disabled {
  text-decoration: line-through;
  animation: none;
  pointer-events: none;
}
