.game-board {
  background: url(/src/images/black_board.svg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
  max-height: 700px;
  width: 100vw;
  max-width: 1300px;
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: 75px auto;
  padding: 40px;
}
