.message {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.message p {
  padding: 0.2rem 0.3rem;
  margin-top: 1rem;
}

.fullscreen {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
