.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* question mark icons */
h3 svg {
  height: 25px;
}

.secret {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.letter {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-left: 3%;
  margin-right: 3%;
}
