:root {
  --main-color: #c0c4c9;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #525252;
  min-height: 600px;
}

body {
  color: var(--main-color);
}

p {
  margin: 0;
}

header,
section {
  padding: 15px;
}

.game-board {
  background: url(/src/images/black_board.svg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
  max-height: 700px;
  width: 100vw;
  max-width: 1300px;
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: 75px auto;
  padding: 40px;
  position: relative;
}

/* effects
------------------*/
.button {
  transition: 300ms all;
  border: 1px solid transparent;
  border-radius: 5px;
}
.button:hover {
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

p.link.button,
a.button,
button.button,
button.link.button {
  background: transparent;
  color: var(--main-color);
  cursor: default;
}

@keyframes shake {
  0% {
    transform: skewX(-10deg);
  }

  25% {
    transform: skewX(10deg);
  }

  50% {
    transform: skewX(-10deg);
  }

  75% {
    transform: skewX(10deg);
  }

  100% {
    transform: skewX(-10deg);
  }
}

/* Disable clickable element */
.used {
  border: 1px solid var(--main-color);
  pointer-events: none;
}

/* shared
***************/

.message {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.message p {
  padding: 0.2rem 0.3rem;
  margin-top: 1rem;
}

.fullscreen {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.links {
  display: flex;
  gap: 25px;
  margin-top: 15px;
}

.links li {
  list-style: none;
}

.link {
  padding: 0.5rem 1rem;
  display: flex;
  align-self: center;
}

.button-row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  color: var(--main-color);
}

.links-center {
  justify-content: center;
}
