/* header
------------- */
.username {
  font-size: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 7px solid transparent;
  grid-row: 1/2;
  grid-column: 1/-1;
  border-image: url(/src/images/stroke-horizontal.png) 30 round;
}

.header .links {
  margin: 0;
}
