/* header
------------- */
.username {
  font-size: 1.5rem;
}

.links {
  display: flex;
  gap: 25px;
}

.links li {
  list-style: none;
}

.links li p {
  padding: 0.5rem 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 7px solid transparent;
  grid-row: 1/2;
  grid-column: 1/-1;
  border-image: url(/src/images/stroke-horizontal.png) 30 round;
}
