:root {
  --main-color: #c0c4c9;
}

body {
  color: var(--main-color);
}

p {
  margin: 0;
}

header,
section {
  padding: 15px;
}

.message {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.message p {
  padding: 0.2rem 0.3rem;
  margin-top: 1rem;
}

/* header
------------- */
.username {
  font-size: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 7px solid transparent;
  grid-row: 1/2;
  grid-column: 1/-1;
  border-image: url(/src/images/stroke-horizontal.png) 30 round;
}

.links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.links .link {
  padding: 0.3rem 0.3rem;
}

.game-board {
  background: url(/src/images/black_board.svg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
  max-height: 700px;
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: 75px auto;
  padding: 40px;
  margin: auto;
  margin-top: 25px;
}

.play-area {
  grid-row: 2 / -1;
  grid-column: 1/2;
}

/* Level 
-------------*/
.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* question mark icons */
h3 svg {
  height: 25px;
}

.secret {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.letter {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-left: 3%;
  margin-right: 3%;
}

/* side bar
------------- */
.sidebar {
  grid-column: 2/3;
  grid-row: 2/-1;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 0.5rem;
  border-left: 7px solid transparent;
  padding: 15px;
  border-image: url(/src/images/stroke-vertical.png) 30 round;
}

/* hangman figure
--------------------- */
.hangman {
  height: 100%;
  display: flex;
  align-items: center;
}
.hangman img {
  width: 100%;
  height: auto;
  margin-top: 25px;
}

/* keyboard
------------- */
.keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

.key-row {
  display: flex;
  justify-content: center;
}

.key-letter {
  padding: 0.5rem;
  margin: 0 0.3rem;
}

/* login form
----------------- */
.login-form {
  justify-self: center;
  align-self: center;
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 25%;
}

.form-field-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 3rem;
  justify-content: flex-end;
}

.form-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
}

/* hints
------------------ */
.hints {
  list-style: none;
}

.hint {
  padding: 0.3rem 0;
  display: flex;
  gap: 2rem;
}

.hint button {
  padding: 0.1rem 0.6rem;
  font-size: 0.6rem;
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.hint button:hover {
  animation: shake 0.4s ease-out;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.hint button.disabled {
  text-decoration: line-through;
  animation: none;
  pointer-events: none;
}

/* effects
------------------*/
.hover {
  transition: 300ms all;
  border: 1px solid transparent;
  border-radius: 5px;
}
.hover:hover {
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

.hover,
.hint button {
  cursor: default;
}

@keyframes shake {
  0% {
    transform: skewX(-10deg);
  }

  25% {
    transform: skewX(10deg);
  }

  50% {
    transform: skewX(-10deg);
  }

  75% {
    transform: skewX(10deg);
  }

  100% {
    transform: skewX(-10deg);
  }
}

/* Disable clickable element */
.used {
  border: 1px solid var(--main-color);
  pointer-events: none;
}
